---
const { label, type, labelFor, placeholder } = Astro.props;
---

<div class="text-left">
  {label && <label for={labelFor}>{label}</label>}
  <input
    type={type}
    id={labelFor}
    name={labelFor}
    placeholder={placeholder}
    class="w-full p-3 border-slate-50 text-slate-50 bg-transparent outline-0 border-0 border-b"
  />
</div>
