---
import { type CollectionEntry, getCollection } from "astro:content";
import BlogPost from "../../layouts/BlogPost.astro";
import FormattedDate from "../../components/FormattedDate.astro";
import type { MarkdownHeading } from "astro";
import { Icon } from "astro-icon/components";
import { generateImageUrl } from "@/utils";
import { Image } from "astro:assets";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  const headings = await Promise.all(
    posts.map(async (post) => {
      const data = await post.render();
      return data.headings;
    })
  );
  return posts.map((post, index) => ({
    params: { slug: post.slug },
    props: { post, headings: headings[index], slug: post.slug },
  }));
}

type Props = CollectionEntry<"blog"> & {
  post: CollectionEntry<"blog">;
  headings: MarkdownHeading[];
};
const { post, headings } = Astro.props;
const { Content, remarkPluginFrontmatter } = await post.render();
---

<BlogPost
  {...post.data}
  headings={headings}
  remarkPluginFrontmatter={remarkPluginFrontmatter}
>
  <article class="space-y-4 max-w-(--breakpoint-lg)">
    <h1
      class="text-4xl md:text-6xl text-center font-montserrat-alternates font-semibold"
    >
      {post.data.title}
    </h1>
    <Image
      src={generateImageUrl(post.data.heroImage)}
      alt={post.data.title}
      class="w-full h-full max-h-96 object-cover rounded"
      loading="lazy"
      width={1200}
      height={600}
    />

    <div class="text-lg flex items-center gap-4 flex-wrap">
      <span class="flex items-center gap-2">
        <Icon
          name="mdi:calendar-month-outline"
          class="inline-block text-primary dark:text-primary-dark"
        />
        <FormattedDate date={post.data.pubDate} />
      </span>

      <span class="flex items-center gap-2">
        <Icon
          name="mdi:clock-time-four-outline"
          class="inline-block text-primary dark:text-primary-dark"
        />
        {remarkPluginFrontmatter.minutesRead}
      </span>
    </div>

    <div class="flex flex-wrap gap-4">
      {
        post.data.tags && (
          <div class="flex flex-wrap overflow-hidden gap-2">
            {post.data.tags.map((tag: string) => (
              <span class="text-sm font-bold bg-slate-200 text-slate-900 rounded px-2 py-1 text-nowrap">
                {tag}
              </span>
            ))}
          </div>
        )
      }
    </div>
    <div class="text-white text-justify font-normal">
      <Content />
    </div>
  </article>
</BlogPost>
