---
import "../assets/css/global.css";
import { SITE_DESCRIPTION, SITE_TITLE, SITE_ICON, SITE_URL } from "../consts";
import { SEO } from "astro-seo";

export interface Props {
  title: string;
  description: string;
  image?: string;
}

const canonicalURL = SITE_URL;

const {
  title,
  description = SITE_DESCRIPTION,
  image = SITE_ICON,
} = Astro.props;
const full_title = `${title ? title + " | " : ""} ${SITE_TITLE}`;
---

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <link rel="icon" type="image/svg+xml" href={SITE_ICON} />
  <meta name="generator" content={Astro.generator} />

  <link rel="canonical" href={canonicalURL} />

  <script src="../assets/ts"></script>

  <title>{full_title}</title>
  <meta name="title" content={full_title} />
  <meta name="description" content={description} />

  <SEO
    title={full_title}
    description={description}
    openGraph={{
      basic: {
        title: full_title,
        type: "A type.",
        image: image,
        url: canonicalURL,
      },
    }}
    twitter={{
      card: "summary_large_image",
      title: full_title,
      description: description,
      image: image,
      imageAlt: full_title,
      site: "@azizchanou",
      creator: "@azizchanou",
    }}
    extend={{
      link: [{ rel: "icon", href: SITE_ICON, type: "image/svg+xml" }],
      meta: [{}],
    }}
  />
</head>
