---
import { Image } from "astro:assets";
import FormattedDate from "./FormattedDate.astro";
import { generateImageUrl } from "@/utils";

const { post, page } = Astro.props;
---

<a href={`/${page}/${post.slug}/`}>
  <div
    class="group p-4 overflow-hidden rounded-lg shadow h-full w-full shadow-white hover:scale-105 duration-300"
  >
    <Image
      src={generateImageUrl(post.heroImage)}
      alt={post.title}
      class="h-44 w-full rounded object-cover group-hover:shadow-xl duration-300"
      loading="eager"
      fetchpriority="high"
      inferSize
    />
    <div class="flex flex-col justify-between gap-2 mt-4">
      {
        post.tags && (
          <div class="flex flex-wrap overflow-hidden gap-2 max-w-sm">
            {post.tags.map((tag: string) => (
              <span class="text-sm font-bold bg-slate-200 text-slate-900 rounded px-2 py-1 text-nowrap">
                {tag}
              </span>
            ))}
          </div>
        )
      }
      <h2 class="text-xl font-bold text-wrap truncate">{post.title}</h2>
      <p>
        {post.description.substring(0, 60) + "..."}
      </p>
      <time datetime="2021-02-18" class="text-sm dark:text-gray-400">
        <FormattedDate date={post.pubDate} />
      </time>
    </div>
  </div>
</a>
