---
import { type CollectionEntry, getCollection } from "astro:content";
import BlogPost from "../../layouts/BlogPost.astro";
import FormattedDate from "../../components/FormattedDate.astro";
import type { MarkdownHeading } from "astro";
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
import { generateImageUrl } from "@/utils";

export async function getStaticPaths() {
  const posts = await getCollection("projects");
  const headings = await Promise.all(
    posts.map(async (post) => {
      const data = await post.render();
      return data.headings;
    })
  );
  return posts.map((post, index) => ({
    params: { slug: post.slug },
    props: { post, headings: headings[index], slug: post.slug },
  }));
}

type Props = CollectionEntry<"projects"> & {
  post: CollectionEntry<"projects">;
  headings: MarkdownHeading[];
};
const { post, headings } = Astro.props;
const { Content, remarkPluginFrontmatter } = await post.render();
---

<BlogPost
  {...post.data}
  headings={headings}
  remarkPluginFrontmatter={remarkPluginFrontmatter}
>
  <article class="space-y-4 max-w-(--breakpoint-lg) mx-auto">
    <h1
      class="text-4xl md:text-6xl text-center font-montserrat-alternates font-semibold"
    >
      {post.data.title}
    </h1>
    <Image
      src={generateImageUrl(post.data.heroImage)}
      alt={post.data.title}
      width={1200}
      height={600}
      class="w-full h-full max-h-96 object-cover rounded"
      loading="lazy"
    />

    <div class="text-lg flex items-center gap-4 flex-wrap">
      <span>
        <Icon
          name="mdi:calendar-month-outline"
          class="inline-block text-primary dark:text-primary-dark"
        />
        <FormattedDate date={post.data.pubDate} />
      </span>

      <span>
        <Icon
          name="mdi:clock-time-four-outline"
          class="inline-block text-primary dark:text-primary-dark"
        />
        {remarkPluginFrontmatter.minutesRead}
      </span>
    </div>
    <div class="w-full flex justify-center text-justify">
      <div class="text-white">
        <Content />
      </div>
    </div>
  </article>
</BlogPost>
