---
import type { CollectionEntry } from "astro:content";
import Default from "./Default.astro";
import { Icon } from "astro-icon/components";

type Props = CollectionEntry<"blog">["data"];

const { title, description } = Astro.props;
const { href } = Astro.url;
---

<Default title={title} description={description}>
  <div class="text-xl">
    <slot />
  </div>
  <div class="py-4 flex justify-center">
    <div class="flex flex-col items-center space-y-4">
      <h4 class="text-2xl">Partager sur les réseaux sociaux</h4>
      <ul class="flex space-x-4 text-2xl">
        <li class="hover:text-blue-500 hover:scale-110 duration-300">
          <a
            rel="noopener"
            target="_blank"
            aria-label="Partager sur LinkedIn"
            class="hover:scale-125 hover:text-blue-500 duration-300"
            href={`https://www.linkedin.com/sharing/share-offsite/?url=${href}`}
          >
            <Icon name="mdi:linkedin" />
          </a>
        </li>
        <li class="hover:text-blue-500 hover:scale-110 duration-300">
          <a
            rel="noopener"
            target="_blank"
            aria-label="Partager sur LinkedIn"
            class="hover:scale-125 hover:text-blue-500 duration-300"
            href={`https://twitter.com/intent/tweet?url=${href}&text=${description}`}
          >
            <Icon name="mdi:twitter" />
          </a>
        </li>
        <li class="hover:text-pink-500 hover:scale-110 duration-300">
          <a
            rel="noopener"
            target="_blank"
            aria-label="Partager sur LinkedIn"
            class="hover:scale-125 hover:text-blue-500 duration-300"
            href={`https://www.facebook.com/sharer/sharer.php?u=${href}`}
          >
            <Icon name="mdi:facebook" />
          </a>
        </li>
        <li class="hover:text-slate-500 hover:scale-110 duration-300">
          <a
            rel="noopener"
            target="_blank"
            aria-label="Partager sur LinkedIn"
            class="hover:scale-125 hover:text-blue-500 duration-300"
            href={`https://wa.me/?text=${href}`}
          >
            <Icon name="mdi:whatsapp" />
          </a>
        </li>
      </ul>
    </div>
  </div>
</Default>
